A_points_in_volume.txt
B points in Volume for A1.txt
B points in Volume for A2.txt
biopsy_target_replan_for_a1.txt
biopsy_target_replan_for_a2.txt
biopsy_target_replan.txt
saved_robot_data.json
biopsy.ply
Prostate_TRUS_Mask.nii.gz
Prostate_TRUS_Mask-pre.nii.gz
Prostate_TRUS_Mask.nii
Prostate_US_3D_XYZ_to_LPS.nii.gz
Prostate_US_3D_XYZ_to_LPS-pre.nii.gz
.nninteractive_weights/
biopsy_entry_replan.txt
.venv311/